* {
  box-sizing: border-box;
}

#test { width:  100%; border: 1px solid; word-wrap: break-word; }
.header {
  display: flex;
  height: 200px;
  margin-top: 0px;

}
  
.logo {
  width: 100px;
  height: 100px;
  
}

.attention {
  margin-top: 0;
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  font-family: Franklin Gothic Medium;

  
  
  
  
}

.interns {
  font-size: 50px;
  color: #330066;
  margin-bottom: 15px;
  
  
}

.phase {
  font-size: 35px;
  font-weight: bold;
}
  
.countdown {
  margin: 50px auto;
  
  width: 50%;
  display: flex;
  gap: 30px;
  font-family: Franklin Gothic Medium;
  justify-content: center;
}

.time-section {
  text-align: center;
  font-size: 30px;
}

.time-group {
  display: flex;
  gap: 10px;
}

.time-segment {
  display: block;
  font-size: 100px;
  font-weight: 900;
  width: 100px;
}

.segment-display {
  position: relative;
  height: 100%;
}

.segment-display__top,
.segment-display__bottom {
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50%;
  position: relative;
}

.segment-display__top {
  line-height: 1.5;
  color: #eee;
  background-color: #330066;
}

.segment-display__bottom {
  line-height: 0;
  color: #fff;
  background-color: #45008a;
}

.segment-overlay {
  position: absolute;
  top: 0;
  perspective: 400px;
  height: 100%;
  width: 100px;
}

.segment-overlay__top,
.segment-overlay__bottom {
  position: absolute;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50%;
}

.segment-overlay__top {
  top: 0;
  line-height: 1.5;
  color: #fff;
  background-color: #330066;
  transform-origin: bottom;
}

.segment-overlay__bottom {
  bottom: 0;
  line-height: 0;
  color: #eee;
  background-color: #45008a;
  border-top: 2px solid black;
  transform-origin: top;
}

.segment-overlay.flip .segment-overlay__top {
  animation: flip-top 0.8s linear;
}

.segment-overlay.flip .segment-overlay__bottom {
  animation: flip-bottom 0.8s linear;
}

@keyframes flip-top {
  0% {
    transform: rotateX(0deg);
  }
  50%,
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-bottom {
  0%,
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
